header{
    text-align: center;
    font-size: 30px;
    font-style: bold;
    background-color: cadetblue;
}
.container{
    margin-top: 10PX;
    height:640px;
    width: 100%;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
    /* border: 1px solid black; */
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
img{
    height: 250px;
    width: 300px;
    border: 3px solid black;
}
img:hover{
    transform: scale(1.2);
    transition: 1.2s ease-in;
}
div{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: center;
}
B{
    font-size: 25PX;
    color: rgb(3, 49, 50);
}